@page
@model HQ_Webb.Pages_Rough.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rough</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.PlayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.PlayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.SpellCaster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.SpellCaster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.CharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.Attack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.Attack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.Defence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.Defence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.MaxBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.MaxBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.MaxMind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.MaxMind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.CurrentBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.CurrentBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.CurrentMind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.CurrentMind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rough.Gold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rough.Gold)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rough.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Heroes/Index">Back to List</a>
    </form>
</div>
