@page
@model HQ_Webb.Pages_Heroes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Heroes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.CharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.Attack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.Attack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.Defence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.Defence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.MaxBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.MaxBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.MaxMind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.MaxMind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.CurrentBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.CurrentBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.CurrentMind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.CurrentMind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heroes.Gold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heroes.Gold)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Heroes.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
